* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
}

body{
    background-image:url(space.jpg) ;
    background-color: black;
}

h1{
    font-size: 80px;
    font-weight: bold;
    color:rgb(53, 76, 77);
    text-align: center;
    padding: 20px;
    margin: 50px;
   
}

div{
    color: white;
    background-color: rgb(97, 128, 134) ;
    padding: 10px;
    text-align: left;
    margin-left: 390px;
    margin-right:390px ;
    padding-left: 80px;
}
a{
    color: rgb(150, 229, 225);
    margin: 50px;
}
